[package]
name = "ferium"
version = "4.0.0"
edition = "2021"
authors = ["Ilesh Thiada (theRookieCoder) <ileshkt@gmail.com>", "薛詠謙 (KyleUltimate)", "Daniel Hauck (SolidTux)"]
description = "Ferium is a CLI program for managing Minecraft mods and modpacks from Modrinth, CurseForge, and Github Releases"
exclude = ["tests"] # Don't need tests for installing using crates.io
repository = "https://github.com/theRookieCoder/ferium"
categories = ["command-line-utilities"]
readme = "README.md"
license = "MPL-2.0"
keywords = [
    "minecraft",
    "mod-manager",
    "modrinth",
    "curseforge",
    "github"
]

[features]
default = ["gui"]
gui = ["libium/gui"]

[dependencies]
tokio = { version = "=1.18.2", default-features = false, features = ["rt-multi-thread", "macros"] }
reqwest = { version = "=0.11.10", default-features = false, features = ["rustls-tls"] }
octocrab = { version = "=0.16.0", default-features = false, features = ["rustls"] }
clap = { version = "=3.1.18", features = ["derive"] }
lazy_static = "=1.4.0"
serde_json = "=1.0.81"
dialoguer = "=0.10.1"
indicatif = "=0.16.2"
itertools = "=0.10.3"
fs_extra = "=1.2.0"
anyhow = "=1.0.57"
colored = "=2.0.0"
ferinth = "=2.2.2"
libium = "=1.15.2"
online = "=3.0.1"
semver = "=1.0.9"
bytes = "=1.1.0"
furse = "=1.1.2"
size = "=0.1.2"
url = "=2.2.2"

[dev-dependencies]
rand = "0.8"
