[package]
name = "ferium"
version = "4.1.10"
edition = "2021"
# Because of `std::process::ExitCode`
rust-version = "1.61"
authors = [
    "Ilesh Thiada (theRookieCoder) <ileshkt@gmail.com>",
    "薛詠謙 (KyleUltimate)",
    "Daniel Hauck (SolidTux)",
]
description = "Fast CLI program for managing Minecraft mods and modpacks from Modrinth, CurseForge, and Github Releases"
exclude = ["tests"] # Don't need tests for installing using crates.io
repository = "https://github.com/gorilla-devs/ferium"
categories = ["command-line-utilities"]
readme = "README.md"
license = "MPL-2.0"
keywords = ["minecraft", "mod-manager", "modrinth", "curseforge", "github"]

[features]
default = []
gtk = ["libium/gtk"]
xdg = ["libium/xdg"]

[dependencies]
tokio = { version = "~1.20.1", default-features = false, features = [
    "rt-multi-thread",
    "macros",
] }
reqwest = { version = "~0.11.11", default-features = false, features = [
    "rustls-tls",
] }
octocrab = { version = "~0.16.0", default-features = false, features = [
    "rustls",
] }
clap = { version = "~3.2.16", features = ["derive"] }
clap_complete = "~3.2.3"
lazy_static = "~1.4.0"
serde_json = "~1.0.82"
dialoguer = "~0.10.2"
indicatif = "~0.17.0"
itertools = "~0.10.3"
fs_extra = "~1.2.0"
colored = "~2.0.0"
ferinth = "~2.5.1"
anyhow = "~1.0.58"
libium = "~1.19.2"
semver = "~1.0.12"
online = "~3.0.1"
bytes = "~1.1.0"
furse = "~1.5.1"
size = "~0.4.0"
url = "~2.2.2"

[dev-dependencies]
rand = "~0.8.5"

[profile.release]
codegen-units = 1
strip = true
lto = true
