[package]
name = "ferium"
version = "4.5.0"
edition = "2021"
rust-version = "1.61" # Bound by `std::process::ExitCode`
authors = [
    "Ilesh Thiada (theRookieCoder) <ileshkt@gmail.com>",
    "薛詠謙 (KyleUltimate)",
    "Daniel Hauck (SolidTux)",
]
description = "Fast CLI program for managing Minecraft mods and modpacks from Modrinth, CurseForge, and Github Releases"
exclude = [".github", "tests", "media"]
repository = "https://github.com/gorilla-devs/ferium"
categories = ["command-line-utilities"]
readme = "README.md"
license = "MPL-2.0"
keywords = ["minecraft", "mod-manager", "modrinth", "curseforge", "github"]

[features]
default = ["gui"]
gui = ["libium/gui"]

[dependencies]
octocrab = { version = "0.33", default-features = false, features = [
    "rustls",
    "rustls-webpki-tokio",
] }
reqwest = { version = "0.11", default-features = false, features = [
    "rustls-tls",
] }
tokio = { version = "1.35", default-features = false, features = [
    "rt-multi-thread",
    "macros",
] }
clap = { version = "4.4", features = ["derive"] }
clap_complete = "4.4"
serde_json = "1.0"
dialoguer = "0.11"
indicatif = "0.17"
itertools = "0.12"
once_cell = "1.19"
fs_extra = "1.3"
ferinth = "2.10"
colored = "2.1"
libium = "1.24"
anyhow = "1.0"
furse = "1.5"
size = "0.4"

[dev-dependencies]
rand = "0.8"

[profile.release]
codegen-units = 1
strip = true
lto = true
